@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
	background-image: -moz-linear-gradient(top, white 0%, #c0fa8a 100%);
	background-image: -webkit-linear-gradient(top, white 0%, #c0fa8a 100%);	
	background-image: -o-linear-gradient(top, white 0%, #c0fa8a 100%);
	background-image: linear-gradient(top, white 0%, #c0fa8a 100%);	
}


.navbar{
    background-color: #daf127;
	border-radius: 50px;

}

li .nav-link{
    color: black;
	font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
li .nav-link:hover{
    color: #fff;
    background-color: #000000;
}
#sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0;
  font-size: 20px;
  z-index: 1000;
  padding-bottom: 20px;
}
.navbar-logo{
    width: 7.5em;
}

body {
    font-size: 100%;
	background-color: white;
	height: 100vh;
	padding: 1em 0;
	border: 1px solid black;
}
.main h1{
	font-family: 'Times New Roman', Times, serif;
}
.main article, aside, h1, h2, h3, p, ul {
	margin: 0;
	padding: 0;
}
.main article, aside {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

aside a {
	 font-weight: bold; 
}
aside a:link { 
	color: #000000;
 }
aside a:hover, aside a:focus {
	 color: blue;
 }
aside a:visited { color: #f2972e;
 }

ul { 
	margin-left: 1.5em;
	margin-bottom: 1.5em; 
}
li {
	font-size: 95%;
	padding-bottom: .35em;
}
article p {
	font-size: 15px;
    text-align: justify;
    float: right;
	font-family: "Josefin Sans", sans-serif;
}

.main article {
	width: 675px;
	margin-left: 20px;
	padding-right: 25px;
	float: left;
    column-count: 2;
    column-gap: 25px;
    
}
.main article h1 {
	font-size: 170%; 
	margin-bottom: .35em;
}
.main article img{
    float: right;
    margin: 0 1.5em 1em 0;
	width: 220px;
	height: 220px;
	

}

#contact_us { margin-top: 1em; }
a.date_passed  { color: gray; }

aside {
	width: 350px;
	float: right;
	padding: 20px;
	margin-right: 60px;
}
aside h2 {
	font-size: 130%;
	padding-bottom: .5em;
}

footer {
	clear: both;
	margin-top: 1em;
	border-top: 2px solid #f2972e;
	padding-top: .7em;
}
footer p {
	font-size: 100%;
	text-align: center;
	margin-right: 20px;
}